<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="register">
    <div class="container">
        <h1>Đăng nhập tài khoản</h1>
        <form th:action="@{/signin}" method="post" >
            <div class="form-group">
                <label for="username">Tên đăng nhập:</label>
                <input type="text" id="username" name="username"/>
            </div>

            <div class="form-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Đăng nhập" />
                <p>hoặc <a href="./register.html">Đăng ký</a></p>
            </div>
        </form>
    </div>
</div>
</body>
</html>