<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký tài khoản</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <h1>Đăng ký tài khoản</h1>
<!--        <form method="post" th:action="@{/register}" th:object="${user}">-->
        <form th:method="post" th:action="@{/createUser}">
            <div class="form-group">
                <label for="username">Tên đăng nhập:</label>
                <input type="text" id="username" name="userName"/>
            </div>

            <div class="form-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password"/>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"/>
            </div>

            <div class="form-group or-login">
                <input type="submit" value="Đăng ký" />
                <p>hoặc <a href="./login.html">Đăng nhập</a></p>
            </div>
        </form>
    </div>
</body>
</html>