<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký tài khoản</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <h1>Đăng ký tài khoản</h1>
        <form method="post" th:action="@{/createUser}">
            <div class="form-group">
                <label for="username">Tên đăng nhập:</label>
                <input type="text" id="username" name="userName" th:required/>
            </div>

            <div class="form-group">
                <label for="password">Mật khẩu:</label>
                <input type="text" id="password" name="password" th:required/>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:required/>
            </div>

            <div class="form-group or-login">
                <input type="submit" value="Đăng ký" />
                <p>hoặc <a href="./login.html">Đăng nhập</a></p>
            </div>
        </form>
    </div>

    <script>
        document.getElementById("username").addEventListener("input", function(event) {
            let username = event.target.value;
            const regex = /^[a-zA-Z0-9_-]{6,16}$/;
            if (!regex.test(username)) {
                event.target.setCustomValidity("Tên người dùng không hợp lệ, tên người dùng tối thiểu 6 ký tự");
            } else {
                event.target.setCustomValidity("");
            }
        });

        document.getElementById("password").addEventListener("input", function(event) {
            let password = event.target.value;
            // const regex = /^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=])(?=\\S+$).{8,20}$/;
            const regex = /^[a-zA-Z0-9_-]{8,16}$/;
            if (!regex.test(password)) {
                event.target.setCustomValidity("Mật khẩu tối thiểu 8 ký tự");
            } else {
                event.target.setCustomValidity("");
            }
        });

        // document.getElementById("email").addEventListener("input", function(event) {
        //     let email = event.target.value;
        //     const regex = /^[A-Za-z0-9]+[A-Za-z0-9]*@[A-Za-z0-9]+(\\.[A-Za-z0-9]+)$/;
        //     if (!regex.test(email)) {
        //         event.target.setCustomValidity("Địa chỉ email không hợp lệ");
        //     } else {
        //         event.target.setCustomValidity("");
        //     }
        // });
    </script>
</body>
</html>